@using Microsoft.AspNetCore.Components.Routing
@inject AutentificacionService AutentificacionService
@code {
    private bool isAdmin;
    private bool isLoading = true;
    private bool showPanelCitasMenu = false;
    private bool showPanelControlMenu = false;

    protected override async Task OnInitializedAsync()
    {
        isAdmin = await AutentificacionService.IsUserInRoleAsync("Administrador");
        isLoading = false;
    }

    private void TogglePanelCitasMenu()
    {
        showPanelCitasMenu = !showPanelCitasMenu;
    }

    private void TogglePanelControlMenu()
    {
        showPanelControlMenu = !showPanelControlMenu;
    }
}

@if (isLoading)
{
    <p>Loading...</p>
}
else
{
    <div class="top-row navbar navbar-dark bg-facebook fixed-width">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="">
                <img style="width: 32px; height: 32px; margin-right: 5px;" src="https://png.pngtree.com/png-clipart/20221003/original/pngtree-medical-logo-png-image_8653959.png" />
                <strong>MediSoft</strong>
            </a>
        </div>
    </div>

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column bg-facebook full-height-nav">
            <div class="nav-item px-3">
                <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
                    <img style="width: 32px; height: 32px; margin-right: 5px;" src="https://cdn-icons-png.flaticon.com/512/6821/6821002.png" /> Dashboard
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <a class="nav-link text-white" href="#" @onclick="TogglePanelCitasMenu">
                    <img style="width: 32px; height: 32px; margin-right: 5px;" src="https://cdn-icons-png.flaticon.com/256/488/488676.png" /> Panel de Citas
                </a>
                @if (showPanelCitasMenu)
                {
                    <div class="nav-item pl-4">
                        <NavLink class="nav-link text-white" href="/DisponibilidadesCards">
                            <img style="width: 24px; height: 24px; margin-right: 5px;" src="https://cdn-icons-png.flaticon.com/512/4228/4228731.png" /> Mis Citas
                        </NavLink>
                        <NavLink class="nav-link text-white" href="/GestionarCitas">
                            <img style="width: 24px; height: 24px; margin-right: 5px;" src="https://cdn-icons-png.freepik.com/512/9473/9473310.png" /> Gestionar Citas
                        </NavLink>
                    </div>
                }
            </div>

            <div class="nav-item px-3">
                <a class="nav-link text-white" href="#" @onclick="TogglePanelControlMenu">
                    <img style="width: 32px; height: 32px; margin-right: 5px;" src="https://cdn-icons-png.flaticon.com/512/295/295173.png" /> Panel de Control
                </a>
                @if (showPanelControlMenu)
                {
                    <div class="nav-item pl-4">
                        <NavLink class="nav-link text-white" href="/Disponibilidades/Index">
                            <img style="width: 24px; height: 24px; margin-right: 5px;" src="https://cdn-icons-png.flaticon.com/512/5152/5152336.png" /> Gestión de Disponibilidad
                        </NavLink>
                        <NavLink class="nav-link text-white" href="/Historial/Index">
                            <img style="width: 24px; height: 24px; margin-right: 5px;" src="https://cdn-icons-png.flaticon.com/512/1533/1533790.png" /> Gestión de Pacientes
                        </NavLink>
                        <NavLink class="nav-link text-white" href="/Doctores/Index">
                            <img style="width: 24px; height: 24px; margin-right: 5px;" src="https://cdn-icons-png.flaticon.com/512/387/387561.png" /> Gestión de Doctores
                        </NavLink>
                        <NavLink class="nav-link text-white" href="/Noticias/Index">
                            <img style="width: 24px; height: 24px; margin-right: 5px;" src="https://cdn-icons-png.flaticon.com/512/4021/4021922.png" /> Noticias y Actualizaciones
                        </NavLink>
                    </div>
                }
            </div>
        </nav>
    </div>
}

<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .fixed-width {
        width: 250px;
        padding-left: 0;
        padding-right: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1020;
    }

    .full-height-nav {
        height: calc(100vh - 56px);
        position: fixed;
        top: 56px;
        left: 0;
        width: 250px;
        overflow-y: auto;
    }

    .navbar-dark .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.1);
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .nav-scrollable {
        background-color: #4267B2;
        height: calc(100vh - 56px);
        position: fixed;
        top: 56px;
        left: 0;
        width: 250px;
        overflow-y: auto;
    }

    .nav-link {
        color: white;
        transition: background-color 0.2s, color 0.2s;
    }

        .nav-link:hover {
            background-color: #365899;
        }

        .nav-link.active {
            background-color: #365899;
            color: white;
        }

        .nav-link i {
            margin-right: 8px;
        }

    .nav-item {
        margin-bottom: 10px;
    }

    .bg-facebook {
        background-color: #4267B2 !important;
    }

    .navbar-brand {
        color: white !important;
    }
</style>